body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    background-color: blue;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #000;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px; 
}

h2 {
    font-size: 48px; /* Increased font size */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 3D effect */
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear, colorChange 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg) rotateX(0deg);
    }
    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

@keyframes colorChange {
    0% {
        color: #ff6347; /* Tomato */
    }
    25% {
        color: #1e90ff; /* DodgerBlue */
    }
    50% {
        color: #32cd32; /* LimeGreen */
    }
    75% {
        color: #ff4500; /* OrangeRed */
    }
    100% {
        color: #ff6347; /* Tomato */
    }
}

p {
    color: #000000;
}

.main-image img {
    width: 400px;
    height: auto;
    border: 5px solid #0067B1;
}

footer {
    width: 100%;
    text-align: center;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.social-links a:hover {
    transform: scale(1.1);
}
